html, body {
  margin: 0;
}

body {
  font-family: sans-serif;
}

.container {
  margin: 30px;
}

.button {
  font-size: 14px;
  background-color: rgb(0, 119, 255);
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.button:focus {
  outline: 5px solid lightblue;
}

.text {
  border: 1px solid grey;
  border-radius: 5px;
  width: 400px;
  padding: 5px 15px;
  margin-top: 25px;
}

.text-animation {
  animation-name: text;
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
}

.text-animation-hidden {
  animation-name: text-hidden;
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
}

.span-text {
  position: relative;
}

.hidden {
  display: none;
}

@keyframes text {
  0% {
    max-height: 0px;
    overflow: hidden;
  } 

  100% {
    max-height: 82px;
    overflow: hidden;
  }
}

@keyframes text-hidden {
  0% {
    max-height: 82px;
    overflow: hidden;
  } 

  100% {
    max-height: 0px;
    overflow: hidden;
  }
}
